{% extends '::base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="{{ asset('bundles/msiadmin/vendor/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/msiadmin/vendor/chosen/chosen.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/msiadmin/vendor/datepicker/css/datepicker.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/msiadmin/css/admin.css') }}">
{% endblock %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js "></script>
<script src="{{ asset('bundles/msiadmin/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/msiadmin/vendor/chosen/chosen.jquery.min.js') }}"></script>
<script src="{{ asset('bundles/msiadmin/vendor/datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/msiadmin/js/admin.js') }}"></script>
<script>
$("select.chosenify").chosen();
$('.datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>
{% endblock %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            {% if block('brand')|length > 0 %}<a class="brand" href="{{ path('msi_admin_dashboard_index') }}">{{ block('brand') }}</a>{% endif %}
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Users
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('msi_user_user_admin_index') }}">User Manager</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Menus
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('msi_user_user_admin_index') }}">User Manager</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Content
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('msi_user_user_admin_index') }}">User Manager</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Modules
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('msi_user_user_admin_index') }}">User Manager</a></li>
                    </ul>
                </li>
            </ul>
            {#<ul class="nav pull-right">
                {% if is_granted(['ROLE_MSI_USER_USER_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
                <li><a href="#"><span class="text-info">{{ app.user }}</span></a></li>
                {% endif %}
                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a></li>
            </ul>#}
            <div class=" pull-right">
                {% if is_granted(['ROLE_MSI_USER_USER_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
                <a class="btn" href="{{ path('fos_user_profile_show') }}"><i class="icon-user"></i> Profile</a>
                {% endif %}
                <a class="btn" style="font-variant:small-caps;" href="#"><i class="icon-share-alt"></i> View site</a>
                <a class="btn" style="font-variant:small-caps;" href="{{ path('fos_user_security_logout') }}"><i class="icon-off"></i> Log out</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2" id="sidebar">
            {#<ul class="nav nav-tabs nav-stacked">
            {% block nav %}
                {% if is_granted(['ROLE_MSI_USER_USER_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
                    <li><a href="{{ path('msi_user_user_admin_index') }}"><span class="pull-right"><i class="icon-chevron-right"></i></span>Dashboard</a></li>
                    <li class="active"><a href="{{ path('msi_user_user_admin_index') }}"><span class="pull-right"><i class="icon-chevron-right"></i></span>Gestion des usagers</a></li>
                    <li><a href="{{ path('msi_user_user_admin_index') }}"><span class="pull-right"><i class="icon-chevron-right"></i></span>Botins de téléphones</a></li>
                    <li><a href="{{ path('msi_user_user_admin_index') }}"><span class="pull-right"><i class="icon-chevron-right"></i></span>Content</a></li>
                    <li><a href="{{ path('msi_user_user_admin_index') }}"><span class="pull-right"><i class="icon-chevron-right"></i></span>Config</a></li>
                    <li><a href="{{ path('msi_user_user_admin_index') }}"><span class="pull-right"><i class="icon-chevron-right"></i></span>Help</a></li>
                {% endif %}
            {% endblock nav %}
            </ul>#}

            <div class="well sidebar-nav">
            <ul class="nav nav-list">
            <li class="active"><a href="{{ path('msi_user_user_admin_index') }}">Users</a></li>
            <li><a href="{{ path('msi_user_group_admin_index') }}">Groups</a></li>
            </ul>
            </div>

            {% block sidebar %}{% endblock sidebar %}
        </div>
        <div class="span10">
            {# Breadcrumb #}
            {#{% block breadcrumb %}
            {% if admin is defined %}
                {% include 'MsiAdminBundle:Dashboard:breadcrumb.html.twig' with {'crumbs': admin.buildBreadcrumb } %}
            {% endif %}
            {% endblock breadcrumb %}#}
            {% if block('actions')|length > 0 %}
                <div class="btn-group pull-right">{% block actions %}{% endblock actions %}</div>
            {% endif %}
            <h1>{{ block('title') }}</h1>
            <hr>
            {# Flashes #}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success fade in">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {# Content #}
            {% block content %}{% endblock %}
        </div>
    </div>
    <hr style="margin-top:10px;">
</div>
{% endblock %}
