{% extends '::base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="{{ asset('bundles/msiadmin/vendor/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/msiadmin/vendor/chosen/chosen.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/msiadmin/vendor/datepicker/css/datepicker.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/msiadmin/css/admin.css') }}">
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js "></script>
<script src="{{ asset('bundles/msiadmin/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/msiadmin/vendor/chosen/chosen.jquery.min.js') }}"></script>
<script src="{{ asset('bundles/msiadmin/vendor/datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/msiadmin/js/admin.js') }}"></script>
<script>
$("select.chosenify").chosen();
$('.datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>
{% endblock %}

{% block body %}
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            {% if block('brand')|length > 0 %}<a class="brand" href="{{ path('msi_admin_dashboard_index') }}">{{ block('brand') }}</a>{% endif %}
            <ul class="nav">
            {% block nav %}
                {% if is_granted(['ROLE_MSI_USER_USER_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'Security'|trans }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if is_granted(['ROLE_MSI_USER_USER_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
                                <li><a href="{{ path('msi_user_user_admin_index') }}">{{ 'entity.User'|transchoice(2) }}</a></li>
                            {% endif %}
                            {% if is_granted(['ROLE_MSI_USER_GROUP_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
                                <li><a href="{{ path('msi_user_group_admin_index') }}">{{ 'entity.Group'|transchoice(2) }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted(['ROLE_MSI_MENU_MENU_ROOT_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
                    <li><a href="{{ path('msi_menu_menu_root_admin_index') }}">{{ 'entity.Menu'|transchoice(2) }}</a></li>
                {% endif %}

                {% if is_granted(['ROLE_MSI_PAGE_PAGE_ADMIN_READ', 'ROLE_MSI_PAGE_PAGE_BLOCK_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'entity.Page'|transchoice(2) }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if is_granted(['ROLE_MSI_PAGE_PAGE_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
                                <li><a href="{{ path('msi_page_page_admin_index') }}">{{ 'entity.Page'|transchoice(2) }}</a></li>
                            {% endif %}
                            {% if is_granted(['ROLE_MSI_PAGE_PAGE_BLOCK_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
                                <li><a href="{{ path('msi_page_page_block_admin_index') }}">{{ 'entity.PageBlock'|transchoice(2) }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            {% endblock nav %}
            </ul>
            {% if is_granted(['ROLE_MSI_USER_USER_ADMIN_READ', 'ROLE_SUPER_ADMIN']) %}
                <span class="navbar-text pull-right">({{ app.user }})</span>
            {% endif %}
            <ul class="nav pull-right">
                {% block right_nav %}{% endblock right_nav %}
                <li><a target="_blank" href="{{ path('msi_page_show') }}">{{ 'View site'|trans }}</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="body">
    <div class="container-fluid">
        {# Breadcrumb #}
        {% block breadcrumb %}
        {% if admin is defined %}
            {% include 'MsiAdminBundle:Dashboard:breadcrumb.html.twig' with {'crumbs': admin.buildBreadcrumb } %}
        {% endif %}
        {% endblock breadcrumb %}
        <div class="page-header">
            <div class="row-fluid">
                <div class="span6">
                    {# Title #}
                    <h1>{{ block('title') }}</h1>
                </div>
                <div class="span6">
                    {# Actions #}
                    {% if block('actions')|length > 0 %}
                        <div class="btn-toolbar pull-right">{% block actions %}{% endblock actions %}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {# Flashes #}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success fade in">
                <a class="close" data-dismiss="alert" href="#">×</a>
                {{ flashMessage }}
            </div>
        {% endfor %}
        {# Content #}
        {% block content %}{% endblock %}
    </div>
</div>
{#<div id="footer">
    <div class="container-fluid">
        <small>&copy; {{ 'now'|date('Y') }} {% block coypright %}GROUPE MSI INC. ALL RIGHTS RESERVED.{% endblock %}</small>
    </div>
</div>#}
{% endblock %}
