{% extends '::base.html.twig' %}

{% block title %} - Administration{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('/vendor/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('/bundles/msiadmin/vendor/chosen/chosen.css') }}">
<link rel="stylesheet" href="{{ asset('/bundles/msiadmin/css/admin.css') }}">
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js "></script>
<script src="{{ asset('/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/msiadmin/vendor/chosen/chosen.jquery.min.js') }}"></script>
<script src="{{ asset('/bundles/msiadmin/js/admin.js') }}"></script>
<script>
$("select.chosenify").chosen();
</script>
{% endblock %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container" style="width: 960px;">
            <ul class="nav">
            {% block nav %}
                <li><a href="{{ path('msi_admin_main_dashboard') }}">Dashboard</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Modules <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">some_module</a></li>
                    </ul>
                </li>
            {% endblock %}
            </ul>
            <ul class="nav pull-right">
            {% block right_nav %}
                <li><a target="_blank" href="{{ path('msi_page_page_show_home') }}">{{ 'View site'|trans }}</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a></li>g
            {% endblock %}
            </ul>
        </div>
    </div>
</div>

<div class="body container well very-well">
    <div class="page-header">
        <div class="pull-right">
            {% block actions %}{% endblock actions %}
        </div>
        <h1>{% block page_title %}{% endblock page_title %}</h1>
    </div>
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    {% if app.session.hasFlash('success') %}
                    <div class="alert alert-success fade in">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        {{ app.session.flash('success')|raw }}
                    </div>
                    {% endif %}
                    {% block breadcrumb %}
                    {% if admin is defined %}
                        {% include 'MsiAdminBundle:Crud:breadcrumb.html.twig' with {'crumbs': admin.buildBreadcrumb } %}
                    {% endif %}
                    {% endblock breadcrumb %}
                </div>
            </div>
            {% block content %}{% endblock %}
            <div class="clearfix"></div>
        </div> <!-- endspan12 -->
    </div> <!-- endrow -->
</div> <!-- endcontainer -->
<div class="footer container">
    <p><small>{% block coypright %}&copy; {{ 'now'|date('Y') }} GROUPE MSI INC. ALL RIGHTS RESERVED.{% endblock %}</small></p>
</div>
{% endblock %}
