{% extends 'MsiAdminBundle::layout.html.twig' %}

{% block title %}
{{ admin.getLabel(2) }} <small class="muted">({{ paginator.length|number_format }})</small>
{% endblock title %}

{% block sidebar %}
{% if admin.getOption('sidebar_nav') %}
    {% include admin.getOption('sidebar_nav') %}
{% endif %}
{% if filterForm is defined %}
    <h3>{{ 'Filter'|trans }}</h3>
    <form novalidate method="GET" action="{{ admin.genUrl('index') }}">
        {% form_theme filterForm 'MsiAdminBundle:Form:form.html.twig' %}
        {{ form_widget(filterForm) }}
        <div class="btn-group">
            <button type="submit" class="btn"><i class="icon-filter"></i></button>
            <a class="btn" href="{{ admin.genUrl('index', {'parentId': app.request.query.get('parentId')}, false) }}"><i class="icon-remove"></i></a>
        </div>
    </form>
{% endif %}
{% endblock sidebar %}

{% block actions %}
{% if admin.isGranted('create') %}
    <a href="{{ admin.genUrl('new') }}" class="btn btn-success"><i class="icon-plus icon-white"></i> {{ 'Add'|trans }}</a>
    {#<a href="#adminModal" role="button" class="btn btn-primary msi_admin_admin_new" data-toggle="modal" data-url="{{ admin.genUrl('new') }}"><i class="icon-plus icon-white"></i> {{ admin.getLabel(1) }}</a>#}
{% endif %}
{% endblock %}

{% block content %}
{# Search #}
{% if admin.getOption('search_fields')|length > 0 %}
    <form novalidate class="form-search" method="GET" action="{{ admin.genUrl('index') }}">
        {% if admin.hasParent() %}<input type="hidden" value="{{ app.request.query.get('parentId') }}" name="parentId">{% endif %}
            <input value="{{ app.request.query.get('q') }}" name="q" type="text" class="span3">
            <div class="btn-group">
                <button type="submit" class="btn"><i class="icon-search"></i></button>
                <a class="btn" href="{{ admin.genUrl('index', {'parentId': app.request.query.get('parentId')}, false) }}"><i class="icon-remove"></i></a>
            </div>
    </form>
{% endif %}
{% include 'MsiAdminBundle:Table:table_horizontal.html.twig' with {'table': admin.table('index')} %}
{# Limit #}
<form id="limitForm" novalidate class="pull-left form-search" method="POST" action="{{ path('msi_admin_main_limit') }}">
    <select style="width:100px;" name="limit">
        <option {% if app.session.get('limit') == 10 %}selected=selected{% endif %} value="10">10</option>
        <option {% if app.session.get('limit') == 25 %}selected=selected{% endif %} value="25">25</option>
        <option {% if app.session.get('limit') == 50 %}selected=selected{% endif %} value="50">50</option>
        <option {% if app.session.get('limit') == 100 %}selected=selected{% endif %} value="100">100</option>
    </select>
</form>
{% include 'MsiAdminBundle:Misc:modal.html.twig' %}
{% endblock %}

{% block js %}
{{ parent() }}
<script>
(function($) {
    "use strict";
    // Return a helper with preserved width of cells
    var fixHelper = function(e, ui) {
        ui.children().each(function() {
            var $this = $(this);
            $this.width($this.width());
        });
        return ui;
    };

    // fill empty tr created by jquery ui

    var nbColumn = $('table.table').children().first().children().children().length;
    var placeholderFiller = '';

    for (var i = 0; i < nbColumn; i++) {
        placeholderFiller += '<td>&nbsp;</td>';
    };

    $("table.sortable tbody").sortable({
        helper: fixHelper,
        handle: $('table i.icon-resize-vertical').closest('td'),
        containment: 'parent',
        placeholder: "ui-state-highlight",
        forcePlaceholderSize: true,
        start: function (event, ui) {
            ui.placeholder.html(placeholderFiller);
        },
    }).disableSelection();
})(jQuery);
(function($) {
    "use strict";
    var $table = $('table.sortable');

    $table.on('sortstop', function(e, ui) {

        var disposition = [];

        $table.find('tbody tr').each(function(i, e) {
            var $e = $(e);
            if ($e.attr('id')) {
                disposition.push($e.attr('id').substr(2));
            }
        });

        $.ajax("{{ admin.genUrl('sort') }}", {
            data: {'disposition': disposition},
        });
    });
})(jQuery);
(function($) {
    "use strict";
    $('a.msi_admin_admin_new').on('click', function(e) {
        $.ajax($(this).data('url'), {
            success: function(response) {
                $('div#adminModal div.modal-header h3').html($(response).find('h1').text());
                $('div#adminModal div.modal-body').html($(response).find('form'));
            }
        });
        e.preventDefault();
    });
    $('div#adminModal div.modal-footer a.btn-primary').on('click', function(e) {
        $.ajax($('div#adminModal div.modal-body form').attr('action'), {
            type: 'POST',
            data: $('div#adminModal div.modal-body form').serialize(),
            success: function(response) {
                if (response === 'ok') {
                    location.replace(location);
                } else {
                    $('div#adminModal div.modal-body').html($(response).find('form'));
                }
            }
        });
        e.preventDefault();
    });
})(jQuery);
</script>
{% endblock js %}
