{% extends 'MsiAdminBundle::layout.html.twig' %}

{% block title %}
{{ admin.getLabel(2) }}
{% endblock title %}

{% block actions %}
{% if admin.isGranted('create') %}
    <a href="{{ admin.genUrl('new') }}" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> {{ admin.getLabel(1) }}</a>
    {#<a href="#adminModal" role="button" class="btn btn-primary msi_admin_admin_new" data-toggle="modal" data-url="{{ admin.genUrl('new') }}"><i class="icon-plus icon-white"></i> {{ admin.getLabel(1) }}</a>#}
{% endif %}
{% endblock %}

{% block content %}
{% if filterForm is defined %}
    <form novalidate class="marginless-inner" method="GET" action="{{ admin.genUrl('index') }}">
        {% form_theme filterForm 'MsiAdminBundle:Form:form.html.twig' %}
        {{ form_widget(filterForm) }}
        <button type="submit" class="btn">{{ 'Filter'|trans }}</button>
        <a class="btn btn-link" href="{{ admin.genUrl('index', {'parentId': app.request.query.get('parentId')}, false) }}">{{ 'Reset'|trans }}</a>
    </form>
{% endif %}
{% include 'MsiAdminBundle:Table:table_horizontal.html.twig' with {'table': admin.table('index')} %}
{% include 'MsiAdminBundle:Misc:modal.html.twig' %}
{% endblock %}

{% block js %}
{{ parent() }}
<script>
(function($) {
    "use strict";
    // Return a helper with preserved width of cells
    var fixHelper = function(e, ui) {
        ui.children().each(function() {
            $(this).width($(this).width());
        });
        return ui;
    };

    $("table.sortable tbody").sortable({
        helper: fixHelper,
        handle: $('table i.icon-move').closest('td'),
    }).disableSelection();
})(jQuery);
(function($) {
    "use strict";
    var $table = $('table.sortable');

    $table.on('sortstop', function(e, ui) {

        var disposition = [];

        $table.find('tbody tr').each(function(i, e) {
            disposition.push($(e).attr('id').substr(2));
        });

        $.ajax("{{ admin.genUrl('sort') }}", {
            data: {'disposition': disposition},
        });
    });
})(jQuery);
(function($) {
    "use strict";
    $('a.msi_admin_admin_new').on('click', function(e) {
        $.ajax($(this).data('url'), {
            success: function(response) {
                $('div#adminModal div.modal-header h3').html($(response).find('h1').text());
                $('div#adminModal div.modal-body').html($(response).find('form'));
            }
        });
        e.preventDefault();
    });
    $('div#adminModal div.modal-footer a.btn-primary').on('click', function(e) {
        $.ajax($('div#adminModal div.modal-body form').attr('action'), {
            type: 'POST',
            data: $('div#adminModal div.modal-body form').serialize(),
            success: function(response) {
                if (response === 'ok') {
                    location.replace(location);
                } else {
                    $('div#adminModal div.modal-body').html($(response).find('form'));
                }
            }
        });
        e.preventDefault();
    });
})(jQuery);
</script>
{% endblock js %}
