<td class="text-right">
    {% if options.tree and object.lvl != 0 and object.parent.children.count > 1 %}
        <a class="btn btn-mini" href="{{ admin.genUrl('demote', {'id': object.id}) }}"><i class="icon-arrow-down"></i></a>
        <a class="btn btn-mini" href="{{ admin.genUrl('promote', {'id': object.id}) }}"><i class="icon-arrow-up"></i></a>
    {% endif %}
    {% for key, val in options.actions %}
        <a class="btn btn-mini" href="{{ path(val, {'id': object.id}) }}">{{ key|raw }}</a>
    {% endfor %}
    {% if admin.hasChild %}
        <a class="btn btn-mini" href="{{ admin.child.genUrl('index', {'parentId': object.id}) }}">{{ options.nested.label }}</a>
    {% endif %}
    <a class="btn btn-mini" href="{{ admin.genUrl('edit', {'id': object.id}) }}">{{ 'Edit'|trans({}, 'MsiAdminBundle') }}</a>
    <a class="btn btn-mini{% if options.delete.ajax %} action-delete" href="#" data-url="{{ admin.genUrl('delete', {'id': object.id}) }}"{% else %}" href="{{ admin.genUrl('delete', {'id': object.id}) }}"{% endif %}>{{ 'Delete'|trans({}, 'MsiAdminBundle') }}</a>
</td>
