<td class="text-right">
    {% if column.options.tree and object.lvl != 0 and object.parent.children.count > 1 %}
        <a class="btn btn-mini" href="{{ admin.genUrl('demote', {'id': object.id}) }}"><i class="icon-arrow-down"></i></a>
        <a class="btn btn-mini" href="{{ admin.genUrl('promote', {'id': object.id}) }}"><i class="icon-arrow-up"></i></a>
    {% endif %}
    {% for key, val in column.options.actions %}
        <a class="btn btn-mini" href="{{ path(val, {'id': object.id}) }}">{{ key|raw }}</a>
    {% endfor %}
    {% if admin.hasChild and admin.child.isGranted('read') %}
        <a class="btn btn-mini" href="{{ admin.child.genUrl('index', {'parentId': object.id}) }}">{{ admin.child.label(2) }}</a>
    {% endif %}
    {% if admin.isGranted('update') %}
        <a class="btn btn-primary btn-mini" href="{{ admin.genUrl('edit', {'id': object.id}) }}"><i class="icon-pencil icon-white"></i> {{ 'Edit'|trans }}</a>
    {% endif %}
    {% if admin.isGranted('delete') %}
        <a class="btn btn-danger btn-mini{% if column.options.delete.ajax %} action-delete" href="#" data-url="{{ admin.genUrl('delete', {'id': object.id}) }}"{% else %}" href="{{ admin.genUrl('delete', {'id': object.id}) }}"{% endif %}><i class="icon-remove icon-white"></i> {{ 'Delete'|trans }}</a>
    {% endif %}
</td>
