<td class="text-right">
    {% for key, val in options.actions %}
        <a class="btn btn-mini" href="{{ path(val, {'id': object.id}) }}">{{ key|raw }}</a>
    {% endfor %}
    {% if admin.hasChild %}
        <a class="btn btn-mini" href="{{ admin.child.genUrl('index', {'parentId': object.id}) }}">{{ options.nested.label }}</a>
    {% endif %}
    <a class="btn btn-mini" href="{{ admin.genUrl('edit', {'id': object.id}) }}">{{ 'Edit'|trans({}, 'MsiAdminBundle') }}</a>
    <a class="btn btn-mini{% if options.delete.ajax %} action-delete" href="#" data-url="{{ admin.genUrl('delete', {'id': object.id}) }}"{% else %}" href="{{ admin.genUrl('delete', {'id': object.id}) }}"{% endif %}>{{ 'Delete'|trans({}, 'MsiAdminBundle') }}</a>
</td>
