{% extends 'MsiAdminBundle::layout.html.twig' %}

{% block page_title %}
    {{ 'Add'|trans({}, 'MsiAdminBundle') }} {{ admin.getLabel() }}
{% endblock %}

{% block content %}
    <form novalidate class="form-horizontal" action="{{ admin.genUrl('new') }}" method="POST" {{ form_enctype(form) }}>
        {% include 'MsiAdminBundle:Crud:form.html.twig' with {'form': form, 'admin': admin} %}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">{{ 'Save Changes'|trans({}, 'MsiAdminBundle') }}</button>
            <a class="btn" href="{{ admin.genUrl('index') }}">{{ 'Cancel'|trans({}, 'MsiAdminBundle') }}</a>
        </div>
    </form>
{% endblock %}

{% block js %}
{{ parent() }}
{% include admin.container.getParameter('msi_admin.tiny_mce') %}
{% endblock js %}
