<table class="table table-bordered table-striped">
    {# Head #}
    <tr>
        {% for column in table.columns %}
            <th>{{ column.get('label')|capitalize }}</th>
        {% endfor %}
    </tr>
    {# Body #}
    {% for object in table.data %}
        <tr data-id="{{ object.id }}" id="el{{ object.id }}">
            {% for column in table.columns %}
                {{ column.setObject(object).render|raw }}
            {% endfor %}
        </tr>
    {% endfor %}
    {# Foot #}
    {% if table.data.count > 0 %}
        {% set paginator = table.paginator %}
        <tr>
            <td style="background: #fff;" colspan="{{ table.columns|length }}">
                <div style="line-height: 36px;float: left;">{{ 'Showing %from% to %to% of %of% entries'|transchoice(paginator.length, {'%from%': paginator.from, '%to%': paginator.to, '%of%': paginator.length}, 'MsiAdminBundle') }}</div>
                {{ paginator.render|raw }}
            </td>
        </tr>
    {% endif %}
</table>
