<table class="{% if table.sortable %}sortable {% endif %}table table-bordered table-striped">
    {# Head #}
    <thead>
        <tr>
        {% if table.sortable %}
            <th>{{ 'Order'|trans }}</th>
        {% endif %}
        {% for column in table.columns %}
            <th>{{ column.get('label')|capitalize|trans }}</th>
        {% endfor %}
            <th>ID</th>
        </tr>
    </thead>
    {# Body #}
    <tbody>
    {% for object in table.data %}
        <tr id="tr{{ object.id }}">
            {% if table.sortable %}
                <td style="text-align:center;">
                    <i class="icon-move"></i>
                </td>
            {% endif %}
            {% for column in table.columns %}
                <td {% for attrname,attrvalue in column.options.attr %}{{attrname}}="{{attrvalue}}" {% endfor %}id="td{{ loop.index~object.id }}">
                {% include 'MsiAdminBundle:Column:'~column.type~'.html.twig' with {'i': loop.index, 'column': column.setObject(object)} %}
                </td>
            {% endfor %}
                <td class="span1">
                    {{ object.id }}
                </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ msi_paginator_render(table.paginator) }}
