<table class="{% if table.sortable %}sortable {% endif %}table table-bordered table-striped">
    {# Head #}
    <thead>
        <tr>
        {% if table.sortable %}
            <th>{{ 'Order'|trans }}</th>
        {% endif %}
        {% for column in table.columns %}
            <th>{{ column.get('label')|capitalize|trans }}</th>
        {% endfor %}
        {% if admin.objectManager.isTranslatable %}
            {% for locale in admin.appLocales %}
                <th>{{ locale|upper }}</th>
            {% endfor %}
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <th>ID</th>
        {% endif %}
        </tr>
    </thead>
    {# Body #}
    <tbody>
    {% for object in table.data %}
        <tr id="tr{{ object.id }}">
            {% if table.sortable %}
                <td class="span1 td-sort" style="text-align:center;">
                    <i class="icon-resize-vertical"></i>
                </td>
            {% endif %}
            {% for column in table.columns %}
                <td {% for attrname,attrvalue in column.options.attr %}{{attrname}}="{{attrvalue}}" {% endfor %}id="td{{ loop.index~object.id }}">
                {% include 'MsiAdminBundle:Column:'~column.type~'.html.twig' with {'i': loop.index, 'column': column.setObject(object)} %}
                </td>
            {% endfor %}
            {% if admin.objectManager.isTranslatable %}
                {% for locale in admin.appLocales %}
                    <td style="text-align:center;" class="span1" id="b{{ loop.index }}">
                        <a href="#" class="msi_admin_admin_change" data-url="{{ admin.genUrl('change', {'locale': locale, 'id': object.id, 'field': 'published'}) }}">
                            {% if object.translation(locale).published %}
                                <span class="badge badge-success"><i class="icon-ok icon-white"><span class="hide">1</span></i></span>
                            {% else %}
                                <span class="badge"><i class="icon-ok icon-white"><span class="hide">0</span></i></span>
                            {% endif %}
                        </a>
                    </td>
                {% endfor %}
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <td class="span1">
                {{ object.id }}
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ msi_paginator_render(table.paginator) }}
