<table class="{% if table.sortable %}sortable {% endif %}table table-bordered marginless">
    {# Head #}
    <thead>
    <tr>
        {% if table.sortable %}
        <th>{{ 'Order'|trans }}</th>
        {% endif %}
        {% for column in table.columns %}
            <th>{{ column.get('label')|capitalize|trans }}</th>
        {% endfor %}
    </tr>
    </thead>
    {# Body #}
    <tbody>
    {% for object in table.data %}
        <tr id="tr{{ object.id }}">
            {% if table.sortable %}
                <td class="text-center">
                    <a class="btn btn-mini" href="#"><i class="icon-move"></i></a>
                </td>
            {% endif %}
            {% for column in table.columns %}
                <td {% for attrname,attrvalue in column.options.attr %}{{attrname}}="{{attrvalue}}" {% endfor %}id="td{{ loop.index~object.id }}">
                {% include 'MsiAdminBundle:Column:'~column.type~'.html.twig' with {'i': loop.index, 'column': column.setObject(object)} %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    {# Foot #}
    {% if table.data.count > 0 %}
    <tfoot>
        {% set paginator = table.paginator %}
        <tr>
            <td style="background: #fff;" colspan="{% if table.sortable %}{{ table.columns|length + 1 }}{% else %}{{ table.columns|length }}{% endif %}">
                <div style="line-height: 40px; float: left;"><small>{{ 'Showing %from% to %to% of %of% entries'|transchoice(paginator.length, {'%from%': paginator.from, '%to%': paginator.to, '%of%': paginator.length})|raw }}</small></div>
                {{ paginator.render|raw }}
            </td>
        </tr>
    </tfoot>
    {% endif %}
</table>
